<div class="row">

  <div ng-repeat="box in $ctrl.curBoxes track by $index" class="col s4">
    <div style="position: relative; width: 235px; height: 235px; margin: auto">
      <p class="textoverlay" style="position: absolute; margin-left: 10px; margin-top: 10px; margin-right: 10px; padding: 0; top: 0px">Box id No. {{ box.id }}</p>
      <p class="textoverlay" style="position: absolute; bottom: 0px; right: 0px; margin-right: 10px; margin-bottom: 10px">by {{ box.username }}</p>
      <canvas-init></canvas-init>

      <div style="display: inline-block; position: absolute; bottom: 0; left: 0; margin-left: 10px; margin-bottom: 10px">
        <a class="hoverhelper" ng-click="$ctrl.update(box)" style="display: inline-block" ng-if="box.self == true">edit</a>
        <a class="hoverhelper secondtext" ng-click="$ctrl.delete(box)" style="display: inline-block" ng-if="box.self == true">delete</a>
      </div>

    </div>
    <div ng-if="($index < 3)" style="padding-bottom:50px"></div>
    <div ng-if="($index > 3)" style="padding-bottom:15px"></div>

  </div>

  <div style="display: block; position: fixed; bottom: 0px; width: 100%">
    <div style="display: flex; flex-direction: column; align-items: center">
      <div style="display: block; margin-bottom: 4rem">
        <button ng-click="$ctrl.launchEditor()" class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action">Add a box!</button>
      </div>
    </div>
  </div>

  <div style="display: block; position: fixed; bottom: 0px; width: 100%">
    <div style="display: flex; flex-direction: column; align-items: center">
      <div style="display: block">
        <paginator></paginator>
      </div>
    </div>
  </div>

</div>
